<!DOCTYPE HTML >
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
        <meta charset="utf-8"/>
       <title> ResumeAI</title>
    </head>
    <body>
        <h1>ResumeAI</h1>
        <p>Welcome to ResumeAI, your AI-powered resume builder!</p>
        <form enctype="multipart/form-data" action="{{ url_for('index') }}" method="post">    
            <label for="resume">Submit your Resume</label><br>
            <input type="file" id="resume" name="resume"><br><br>
            
            <label for="job_description">Job Description</label><br>
            <textarea id="job_description" name="job_description" rows="4" cols="50"></textarea><br><br>

            <button type="submit">Generate Resume</button>
        </form>
          <output id="result">
                {% if resume %}
                    <h2>Generated Resume:</h2>
                    <pre>{{ resume }}</pre>
                {% endif %}
            </output>
    </body>
</html>